In [1]:
%load_ext autoreload
%autoreload 2

# Started Notebook

Use this notebook as a starting point for using the library.

## setup access token

We're using dotenv library here, alternatively you can simply set the environment variable as:
```
import os
os.environ["CODE_GENIE_TOKEN"] = "your-access-token-here"
```

Though it is not recommended to do so as notebooks are typically shared with others and you should keep your access token private.

In [2]:
from dotenv import load_dotenv

In [3]:
load_dotenv("../.env")  # replace with path to your env file

True

## Create data

while you should import your own dataset, we can use code-genie to generate the data for this analysis

In [4]:
from code_genie import Genie, PandasGenie

In [5]:
data_gen = Genie(inputs=[],
                 instructions=["generate a pandas dataframe containing 100 rows with employee information with following columns:",
                               "id: random employee id",
                               "name: employee name",
                               "salary: salary per annum in USD",
                               "department: should be either engineering or product"])

In [8]:
print(data_gen.code)

import pandas as pd
import numpy as np
import random

def generate_employee_df():
    # generate 100 random employee ids
    random_ids = np.random.randint(10000, 99999, 100)
    # generate random employee names
    names = ['John', 'Mary', 'Alice', 'Bob', 'Kate', 'Tom', 'Mike', 'Lisa']
    random_names = [random.choice(names) + ' ' + random.choice(names) for i in range(100)]
    # generate random salaries between $50,000 and $150,000
    random_salaries = np.random.randint(50000, 150000, 100)
    # generate random departments
    departments = ['engineering', 'product']
    random_departments = [random.choice(departments) for i in range(100)]
    # create pandas dataframe
    employee_df = pd.DataFrame({'id': random_ids, 'name': random_names, 'salary': random_salaries, 'department': random_departments})
    return employee_df

In [6]:
df = data_gen()
df.shape

(100, 4)

In [7]:
df.head()

      id       name  salary   department
0  76250  Kate Mary   84353      product
1  29203   Mike Bob   83663      product
2  49242   John Tom  108337  engineering
3  65459  Mike Lisa  148597      product
4  85965  Kate Lisa   85324      product

### add missing values

In [10]:
data_gen_add_missing = PandasGenie("make salaries for around 10% of the employees missing",
                                   columns=list(df.columns))

In [ ]:
df_missing = data_gen_add_missing(df=df)